.area-tooltip {
    background-color: transparent; /* Прозорий фон */
    color: yellow; /* Жовтий текст */
    font-weight: bold; /* Жирний текст */
    border: 0px solid yellow; /* Без межі */
    font-size: 14px; /* Розмір шрифту */
    padding: 2px; /* Відступи для відстані між текстом та лінією */
    box-shadow: none; /* Прибирає тінь */
}

